@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
  align-items: center;
}

a {
  color: #fff;
  text-decoration: none;
}



.start {
  position: relative;
  color: #2196f3;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.4s;
}
.button__line{
  position: absolute;
  display: block;
}
.button__line--top{
top: 0;
left: -100%;
width: 100px;
height: 2px;
background: linear-gradient(90deg, transparent, #2196f3);
}
.start:hover .button__line--top{
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button__line--bottom{
  bottom: 0;
  right: -100%;
  width: 100px;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
  }
  .start:hover .button__line--bottom{
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  .button__line--left{
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #2196f3);
    }
    .start:hover .button__line--left{
      bottom: 100%;
      transition: 1s;
      transition-delay: 0.2s;
    }
    .button__line--right{
      top: -100%;
      right: 0%;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #2196f3);
      }
      .start:hover .button__line--right{
        top: 100%;
        transition: 1s;
        transition-delay: 0.2s;
      }
      .start:hover {
        box-shadow: 0 0 10px #2195f39f,0 0 40px #2195f37a,0 0 80px #2196f3;
        background-color: #145285;
        transition: 1s;
        transition-delay: 0.5s;
      }

      

h1 {
  line-height: 1.4;
  font-size: 4rem;
  color: #00d6fc57;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #1cb9ce54;
  color: #2195f3af;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16D9E3;
  color: #16D9E3;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16D9E3;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

